.show-details {
  display: table;
}

.hide-details {
  display: none;
}

.accordion {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 40px;
  padding: 0px 0px 20px 10px;
  border-bottom: 1px solid #888;
  cursor: pointer;
  position: relative;
}

.accordion-title {
  color: #333;
  font-family: "Medium";
  font-size: 1.1rem;
  padding: 0px 50px 0px 0px;
}

.accordion-description {
  color: #888;
  font-family: "Regular";
  font-size: 0.9rem;
  padding: 20px 40px 0px 0px;
}

.accordion-img {
  position: absolute;
  right: 5px;
}
