.panel-bg {
  background-color: #fff;
}

.panel-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0px 10px;
}

.page-title {
  margin-top: 0px !important;
}

.refresh-icon {
  width: 30px;
  height: 30px;
  cursor: pointer;
}

@media (min-width: 768px) {
  .section-area {
    margin-top: 0px !important;
  }
  .content {
    max-width: 800px !important;
  }
  .panel-row {
    padding: 0px 30px;
  }
}

.panel-cards-content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  margin: 0px auto 0px auto;
  justify-content: space-around;
}
