.not-found-bg {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.not-found-bg-inner {
  height: 400px;
  width: 90%;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px;
  margin: 30px auto;
}

.not-found-bg-inner h1 {
  font-family: "Medium";
  font-size: 1.6rem;
  color: #333;
}

.not-found-bg-inner h2 {
  color: #d7b15c;
  font-family: "Medium";
  font-size: 1.6rem;
}

.not-found-bg-inner h5 {
  color: #4c4c4c;
  margin-bottom: 80px;
  font-weight: 400;
  width: 100%;
  font-size: 1rem;
  max-width: 340px;
  line-height: 25px;
}


.not-found-bg-inner-button {
  border-radius: 5px;
  height: 40px;
  font-family: "medium";
  color: #333;
  border: 2px solid #333 !important;
  background-color: #d7b15c;
  border: none;
  width: 200px;
  text-align: center;
  align-items: center;
  display: flex;
  justify-content: center;
  margin: 0px auto;
}

.not-found-bg-inner-button:hover {
  color: inherit;
}
