body {
  background-color: #633030;
}

.form-space {
  padding-top: 65px;
}

.form {
  margin-bottom: 60px;
  min-height: 400px;
  padding: 20px;
}

.form-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  max-width: 320px;
}

.form-area {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  border-radius: 5px;
  border: 1px solid #707087;
  background-color: #fff;
  width: 100%;
  max-width: 320px;
}

.copyright-data {
  display: table;
  margin: 0px auto;
}
