.policies-bg {
  background-color: #fff;
}

.contact-icon {
  margin: 0px 10px 40px 10px;
  width: 40px;
}

.policies-button-row {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 3rem;
}
