.new-chat-bg {
  background-color: #fff;
}

.top-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.refresh-icon {
  width: 25px;
  height: 25px;
  cursor: pointer;
  margin-top: 30px;
}

.compose-message {
  color: var(--back);
  font-family: bold;
  cursor: pointer;
  margin-bottom: 30px;
  display: flex;
  cursor: pointer;
}

.search-bar {
  margin-top: 20px;
  width: 100%;
}

.subcontent {
  padding-bottom: 30px;
}