.signup-bg {
  background-color: #633030;
}

@media (min-width: 768px) {
}

@media (max-width: 768px) {
}

.step {
  padding: 30px 20px;
}

.confirm {
  font-size: 14px;
  padding: 0px 50px;
  text-align: center;
}

.signup-title {
  margin: 10px auto 30px auto;
  display: table;
  color: #333;
  font-size: 1.2rem;
  font-family: "bold";
  text-align: center;
}

.form-content {
  display: flex;
  flex-direction: column;
  margin: 5px auto 5px auto;
  width: 80%;
  align-items: center;
}
