/* 
  ============================== 
  SECTION HERO 
  ==============================   
*/

.aboutUs {
  line-height: 15px;
}

@media (min-width: 768px) {
  .columns {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    padding: 0px 0px;
  }
  .advantages {
    background-color: #580100d4;
    border-radius: 10px;
    font-weight: 600;
    font-size: 12px;
    line-height: 15px;
    color: #f9f9f9;
    padding: 40px 50px 20px 50px;
    text-align: center;
    width: 60%;
  }
}

@media (max-width: 768px) {
  .advantages {
    background-color: #580100d4;
    border-radius: 10px;
    font-weight: 600;
    font-size: 12px;
    line-height: 15px;
    color: #f9f9f9;
    padding: 20px 10px;
    text-align: left;
    width: 90%;
  }

  .columns {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    padding: 0px 0px;
  }
}

.area {
  margin: 4rem 0px;
}