.input-label {
  color: #888;
  font-size: 0.86rem;
  margin-bottom: 5px;
  text-align: left;
  width: 100%;
  padding-left: 30px;
}

.form-control {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.input,
.select {
  width: 90%;
  padding: 5px 15px;
  height: 40px;
  max-height: 40px;
  margin: 5px 0px;
  border-radius: 5px;
  border: 1px solid grey !important;
}

.select {
  width: 95%;
  height: 52px;
  max-height: 52px;
}

.text-area {
  width: 90%;
  padding: 5px 15px;
  margin: 5px 0px;
  min-height: 120px;
  height: 120px;
  max-height: 120px;
  border-radius: 5px;
  border: 1px solid grey !important;
  resize: none;
}

.outter-input-password {
  width: 90%;
  padding: 5px 15px;
  height: 40px;
  margin: 5px 0px;
  border-radius: 5px;
  border: 1px solid grey !important;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.input-password {
  width: 90%;
  padding: 5px 45px 5px 0px;
  height: 100%;
  background-color: #fff;
  outline: none;
  border: none;
}

.input-password-icon {
  position: initial;
  cursor: pointer;
  width: 25px;
  height: 25px;
}
