.input-label {
  color: #888;
  font-size: 0.86rem;
  margin-bottom: 5px;
}

.input {
  width: 100%;
  padding: 5px 15px;
  height: 40px;
  margin: 5px 0px;
  border-radius: 5px;
  border: 1px solid grey !important;
}

.text-area {
  width: 100%;
  padding: 5px 15px;
  margin: 5px 0px;
  min-height: 120px;
  height: 120px;
  max-height: 120px;
  border-radius: 5px;
  border: 1px solid grey !important;
  resize: none;
}

.select {
  width: 100% !important;
  padding: 5px 15px;
  height: 40px;
  margin: 5px 0px;
  border-radius: 5px;
  border: 0.5px solid grey !important;
}

.outter-input-password {
  width: 100%;
  padding: 5px 15px;
  height: 40px;
  margin: 5px 0px;
  border-radius: 5px;
  border: 1px solid grey !important;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.input-password {
  width: 100%;
  padding: 5px 45px 5px 0px;
  height: 100%;
  background-color: #fff;
  outline: none;
  border: none;
}

.input-password-icon {
  position: initial;
  cursor: pointer;
  width: 25px;
  height: 25px;
}
