@font-face {
  font-family: regular;
  src: url(fonts/Regular.ttf);
}

@font-face {
  font-family: medium;
  src: url(fonts/Medium.ttf);
}

@font-face {
  font-family: semibold;
  src: url(fonts/SemiBold.ttf);
}

@font-face {
  font-family: bold;
  src: url(fonts/Bold.ttf);
}

@media (min-width: 767px) {
  .purchaseCard {
    display: flex;
    flex-direction: row;
  }
}

*,
body,
a,
p,
span,
label,
input,
textarea,
select,
button,
li,
ol,
h1, 
h2, 
h3, 
h4, 
h5, 
h6,
ul {
  font-family: "Regular";
}

a {
  text-decoration: none !important;
}

a:hover {
  color: #4c9be4;
}

.icon {
  width: 30px;
  height: 30px;
}