:root {
  --background: #fff;
  --background-shadow: rgb(78 78 79 / 10%) 0px 10px 40px 0px;
  --navbar-button: #633030;
  --navbar-button-shadow: #3d1a1a;
}

.navbar {
  min-height: 50px;
  background-color: var(--background);
  box-shadow: var(--background-shadow);
}

.navbar-brand {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
}

.navbar-brand img {
  width: 50px;
  height: 45px;
}

.navbar-brand span {
  color: #333;
  font-family: "bold";
  font-size: 1.4rem;
}

.navbar-menu-button {
  color: #333;
}

@media (max-width: 768px) {
  .nav-item {
    padding-top: 20px;
  }
}


.nav-item:hover {
  border-bottom: 3px solid #4c9be4;
}