.current-plan {
  color: #797979;
}

.plan-detail {
  font-size: 1rem;
  font-family: "regular";
  padding: 0px 20px;
  letter-spacing: 0.5px;
  line-height: 24px;
}

.plan-detail-button {
  text-align: end;
  cursor: pointer;
  font-size: 1.1rem;
  font-family: "medium";
  padding-right: 20px;
  color: #81b9ec;
}
