.profile-content-title {
  font-family: "bold";
  font-size: 18px;
  color: #333;
  margin-top: 40px;
  text-align: left;
  width: 100%;
}

.profile-input,
.profile-select {
  font-family: "regular";
  border: none;
  font-size: 17px;
  color: #797979;
  margin-top: 10px;
  width: 80%;
}
